services:
  n8n:
    image: n8nio/n8n:2.0.3
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    network_mode: bridge
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - GENERIC_TIMEZONE=Asia/Omsk
      - TZ=Asia/Omsk
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: